.StudentView-container {
  max-width: 800px;
  margin: auto;
  padding: 0 80px;
}

.StudentView-buttonHolder {
  margin: var(--px-lg) 0 var(--px-md);
}

.StudentView-buttonHolder span + span {
  margin-left: var(--px-md);
}

.StudentView-button--primary {
  background: var(--s-black);
  padding: 0.5em 1.5em;
  border-radius: var(--radius-sm);
  text-decoration: none;
  color: var(--s-white);
  cursor: pointer;
}

.StudentView-button--secondary {
  padding: 0.5em 1.5em;
  border-radius: var(--radius-sm);
  text-decoration: none;
  color: var(--s-black);
  cursor: pointer;
}

.StudentView-button--secondary:hover {
  background-color: var(--a-grey);
}

.StudentView-greetingHeader {
  margin: 72px 0 0;
  color: var(--s-blue);
  font-size: 3em;
}

.StudentView-team {
  margin: 0;
  color: var(--s-black);
  font-style: italic;
  font-weight: 400;
}

.StudentView-teamName {
  font-weight: 700;
  color: var(--s-pink);
}

.StudentView-teamOption {
  font-weight: 700;
  color: var(--s-pink);
  text-decoration: underline;
}

.StudentView-leaveTeam {
  position: absolute;
  top: -4px;
  right: -22px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--s-grey);
  color: var(--s-white);
}

.StudentView-leaveTeam:hover {
  background-color: var(--s-pink);
}

.StudentView-leaveIcon {
  width: 12px;
  height: 12px;
}

/***************************
* Miletone Styles in Broad *
***************************/

.StudentMilestone-container {
  display: flex;
  margin-bottom: var(--milestone-gap);
  padding: var(--px-md);
  border-radius: var(--radius-md);
}

.StudentMilestone-hasSubmissions:hover {
  background-color: var(--a-greyblue);
}

.StudentMilestone-body {
  flex: 1 1 0;
}

.StudentMilestone-name {
  font-size: 1.2rem;
}

.StudentMilestone-due {
  opacity: 0.5;
}

.StudentMilestone-submitted {
  font-style: italic;
  color: var(--s-grey);
}

.StudentMilestone-indicator {
  --radius: 32px;

  width: var(--radius);
  height: var(--radius);
  border-radius: 100%;
  margin: 0 10px 0 0;
  background-color: var(--grey);
  color: var(--s-white);
}

.StudentMilestone-status--submitted {
  background-color: var(--s-blue);
}

.StudentMilestone-status--waiting {
  background-color: var(--s-yella);
}

.StudentMilestone-status--late {
  background-color: var(--s-pink);
}

.StudentMilestone-link {
  color: var(--s-blue);
}
