.greetingContainer, .milestonesContainer {
  margin-top: 20vh;
}

.greetingContainer {
  margin-left: 8vw;
}

.greetingContainer h1, h2 {
  color: var(--s-blue);
}

.greetingContainer h2 {
  font-style: italic;
}

.greetingContainer a {
  color: var(--s-pink);
}

.graphicCircle {
  --radius: 80px;
  
  background-color: var(--grey);
  width: var(--radius);
  height: var(--radius);
  border-radius: 100%;
}

.milestone-Container {
  display: flex;
  margin-bottom: var(--milestone-gap);
}

.milestone-Name {
  font-size: 1.2rem;
}

.milestone-Due {
  opacity: 0.5;
}

.milestone-Indicator {
  --radius: 16px;
  
  width: var(--radius);
  height: var(--radius);
  border-radius: 100%;
  background-color: var(--s-blue);
  margin: 0 10px;
}