:root {
    --s-blue: #26C1FC;
    --s-pink: #FE82DE;
    --s-yella: #FFC215;
    --grey: #D0E2F4;
    
    --milestone-gap: 18px;
  }

html {
    height: 100%;
    font-family: sans-serif;
}

body {
    margin: 0;
    height: 100%;
}

#root {
    height: 100%;
}

.center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
}

