:root {
  --s-blue: #26c1fc;
  --s-blue-focus: #26acfc;
  --s-pink: #fe82de;
  --s-yella: #ffc215;

  --a-blue: #4b80ff;
  --a-blue-text: #4774d7;
  --a-grey: #f0efef;
  --a-grey-text: #707070;
  --a-greyblue: #f7f8f9;
  --a-white: #ffffff;
  --a-dark: #2e2e2e;
  --a-black: #000000;
  --a-shadow: rgba(0, 0, 0, 0.16);

  --grey: #d0e2f4;
  --grey-text: #7d9dbc;
  --grey-focus: #bad2e8;
  --dark-grey: #707070;

  --radius-sm: 4px;

  --milestone-gap: 18px;
  --top-border: 40px;

  --admin-sidePadding: 80px;
  --admin-topPadding: 60px;
  --admin-bottomPadding: 16px;
  --adminSidebar-containerWidth: 120px;
}

html {
  height: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  height: 100%;
}

button {
  border: none;
  position: relative;
  display: block;
}

#root {
  height: 100%;
}

.center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.u-blue {
  color: var(--s-blue);
}

.u-flex {
  display: flex;
}

.u-flexJustifyAround {
  justify-content: space-around;
}

.u-flexJustifyBetweeen {
  justify-content: space-between;
}

.u-flexJustifyCenter {
  justify-content: center;
}

.u-flexJustifyEnd {
  justify-content: flex-end;
}

.u-flexAlignCenter {
  align-items: center;
}

.u-flexCenter,
.u-flexCenter--browser {
  justify-content: center;
  align-items: center;
}

.u-flexCenter--browser div {
  transform: translateY(-40px);
}

.u-textCenter {
  text-align: center;
}

.u-textRight {
  text-align: right;
}

.u-fontSm {
  font-size: 0.8em;
}

.u-formLabel {
  color: var(--dark-grey);
}

.u-marginTop-sm {
  margin-top: 4px;
}

.u-marginBottom-sm {
  margin-bottom: 4px;
}

.u-marginLeft-md {
  margin-left: 8px;
}

.u-marginBottom-md {
  margin-bottom: 10px;
}

.u-positionRelative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-darkGrey {
  color: var(--dark-grey);
}
