:root {
  --s-blue: #26c1fc;
  --s-blue-focus: #26acfc;
  --s-pink: #fe82de;
  --s-yella: #ffc215;
  --s-black: #2e2e2e;
  --s-grey: rgb(68, 68, 68);
  --s-white: white;

  --a-red: #d55959;
  --a-yella: #ebc90e;
  --a-blue: #4b80ff;
  --a-blue-text: #4774d7;
  --a-blue-ghost: #8daeff;
  --a-blue-light: #adc4fb;
  --a-grey: #f0efef;
  --a-grey-text: #707070;
  --a-greyblue: #f7f8f9;
  --a-greyblue-text: #ebebeb;
  --a-white: #ffffff;
  --a-dark: #2e2e2e;
  --a-black: #000000;
  --a-shadow: rgba(0, 0, 0, 0.16);

  --grey: #d0e2f4;
  --grey-text: #7d9dbc;
  --grey-focus: #bad2e8;
  --dark-grey: #707070;

  --radius-xs: 3px;
  --radius-sm: 4px;
  --radius-md: 6px;

  --px-sm: 4px;
  --px-md: 10px;
  --px-lg: 16px;
  --px-xl: 24px;
  --px-xxl: 36px;
  --px-xxxl: 42px;

  --milestone-gap: 18px;
  --top-border: 40px;

  --admin-sidePadding: 80px;
  --admin-topPadding: 60px;
  --admin-bottomPadding: 16px;
  --adminSidebar-containerWidth: 120px;

  --headerFont: "Avenir Next", "Hind", sans-serif;
  --bodyFont: "Open Sans", sans-serif;
}

@font-face {
  font-family: "Avenir Next";
  font-weight: normal;
  src: local("Avenir Next") url(./../fonts/AvenirNext-Regular.woff) format("woff");
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 600;
  src: local("Avenir Next") url(./../fonts/AvenirNext-Bold.woff) format("woff");
}
@import url("https://fonts.googleapis.com/css?family=Hind:400,700|Open+Sans&display=swap");

html {
  height: 100%;
  font-family: var(--bodyFont);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headerFont);
}

button {
  border: none;
  position: relative;
  display: block;
}

.center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  flex-direction: column;
}

.u-flexWrap {
  flex-wrap: wrap;
}

.u-flexJustifyAround {
  justify-content: space-around;
}

.u-flexJustifyBetweeen {
  justify-content: space-between;
}

.u-flexJustifyCenter {
  justify-content: center;
}

.u-flexJustifyEnd {
  justify-content: flex-end;
}

.u-flexAlignCenter {
  align-items: center;
}

.u-flexCenter,
.u-flexCenter--browser {
  justify-content: center;
  align-items: center;
}

.u-flexCenter--browser div {
  transform: translateY(-40px);
}

.u-textCenter {
  text-align: center;
}

.u-textRight {
  text-align: right;
}

.u-fontSm {
  font-size: 0.8em;
}

.u-marginRight-sm {
  margin-right: var(--px-sm);
}

.u-marginRight-md {
  margin-right: var(--px-md);
}

.u-marginRight-lg {
  margin-right: var(--px-lg);
}

.u-marginTop-sm {
  margin-top: var(--px-sm);
}

.u-marginTop-lg {
  margin-top: var(--px-lg);
}

.u-marginTop-xl {
  margin-top: var(--px-xl);
}

.u-marginTop-xxl {
  margin-top: var(--px-xxl);
}

.u-marginTop-xxxl {
  margin-top: var(--px-xxxl);
}

.u-marginLeft-md {
  margin-left: var(--px-md);
}

.u-marginLeft-lg {
  margin-left: var(--px-lg);
}

.u-marginBottom-sm {
  margin-bottom: var(--px-sm);
}

.u-marginBottom-md {
  margin-bottom: var(--px-md);
}

.u-marginBottom-lg {
  margin-bottom: var(--px-lg);
}

.u-marginBottom-xl {
  margin-bottom: var(--px-xl);
}

.u-marginBottom-xxl {
  margin-bottom: var(--px-xxl);
}

.u-marginBottom-xxxl {
  margin-bottom: var(--px-xxxl);
}

.u-positionRelative {
  position: relative;
}

.u-textAlignRight {
  text-align: right;
}

.u-textAlignCenter {
  text-align: center;
}

.u-pointer {
  cursor: pointer;
}

.u-blue {
  color: var(--s-blue);
}

.u-pink {
  color: var(--s-pink);
}

.u-yellow {
  color: var(--s-yella);
}

.u-grey {
  color: var(--grey-text);
}

.u-darkGrey {
  color: var(--dark-grey);
}

.u-black {
  color: var(--a-black);
}

.u-white {
  color: var(--a-white);
}
