.adminHeader-head {
  font-weight: normal;
}

.adminHeader-container {
  padding-top: var(--admin-topPadding);
  padding-left: var(--admin-sidePadding);
  padding-right: var(--admin-sidePadding);
  padding-bottom: var(--admin-bottomPadding);
}
