:root {
  --milestoneSelector-width: 300px;
  --milestoneStatus-width: 22px;
  --feedback-width: 380px;
  --feedbackSubmit-width: 36px;
}

.milestoneSelector-container {
  background-color: var(--a-blue);
  color: var(--a-greyblue-text);
  min-height: calc(100vh - var(--px-lg) - var(--px-xxxl));
  width: var(--milestoneSelector-width);
  padding: var(--px-xxxl) var(--px-xl) var(--px-lg);
}

.milestoneSelector-header {
  font-size: 1.8em;
}

.milestoneSelector-subheader {
  font-size: 0.8em;
  text-transform: uppercase;
}

.milestoneSelector-subsubheader {
  font-size: 0.5em;
  text-transform: none;
}

.milestoneSelector-backIcon:hover {
  color: var(--a-white);
}

.milestoneSelector-milestoneTitle {
  font-size: 1.2em;
}

.milestone-submissionCount {
  font-size: 0.8em;
}

.milestone-status {
  height: var(--milestoneStatus-width);
  width: var(--milestoneStatus-width);
  background-color: var(--a-blue-ghost);
  border-radius: 50%;
  color: var(--a-blue);
}

.milestone-status--submitted {
  background-color: var(--a-white);
}

.milestone-status--waiting {
  background-color: var(--a-yella);
}

.milestone-status--late {
  background-color: var(--a-red);
}

.milestone-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr var(--feedback-width);
  grid-gap: var(--px-lg);
}

.milestone-title {
  font-size: 1.6em;
  color: var(--a-grey-text);
}

.milestone-question {
  color: var(--a-grey-text);
  font-style: italic;
}

.milestone-answer {
  font-size: 1.1em;
  color: var(--a-black);
}

.feedback-container {
  background-color: var(--a-greyblue);
}

.feedback-title {
  font-size: 1.4em;
}

.feedback-specificContainer {
  padding: var(--px-lg) var(--px-xl);
  border-bottom: 4px solid var(--a-grey);
}

.feedback-specificContainer:first-of-type {
  padding-top: var(--px-xl);
}

.feedback-specificContainer:last-of-type {
  padding-bottom: var(--px-xl);
  border-bottom: none;
}

.feedback-specificFrom {
  padding-bottom: var(--px-md);
}

.feedback-specificBody {
  font-size: 0.9em;
}

.feedback-input {
  min-height: 1em;
  width: 100%;
  font-size: 0.9em;
}

.feedback-submit {
  height: var(--feedbackSubmit-width);
  width: var(--feedbackSubmit-width);
  border-radius: 50%;
  color: var(--a-white);
  background-color: var(--a-blue);
  position: absolute;
  bottom: calc(0 - var(--feedbackSubmit-width) / 2);
  right: var(--px-xxxl);
}
